@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    width: 75%;
    text-align: center;

}

.header h1 {
    text-transform: uppercase;
}

.image-container {
    clip-path: circle(50% at 50% 50%);
    background-image: url('../img/profile1.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 450px;
    margin: 2rem auto;
}

.navigation ul li {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    width: 16rem;
    margin: 3rem 0;
}

.navigation ul li:not(:last-child) {
    margin-right: 6rem;
}


.main-container {
    margin: 0 auto;
    width: 75%;
}

.main-container div {
    margin-bottom: 2rem;
}

.main-container h1 {
    margin-bottom: 5rem;
}

.main-container p {
    text-align: justify;
}

.footer {
    font-size: 2rem;
    padding: 2rem;
}

.footer ul {
    list-style: none;
    margin-bottom: 3rem;
}

.footer ul li {
    display: inline-block;
    margin: 2rem;
}

.footer ul a {
    color:black;
    text-decoration: none;
}


@media (min-width: 480px) {
    /*muuda image-container taustapilti*/
    /*muuda dokumendi taustavärvi*/
    /*muuda dokumendi tekstivärvi*/
    /*ära unusta ka raamjoonesid*/

    .image-container {
        clip-path: circle(50% at 50% 50%);
        background-image: url('../img/profile2.jpg');
        background-size: cover;
        background-position: center;
        height: 450px;
        width: 450px;
        margin: 2rem auto;
    }

    .main-container h1 {
        margin-bottom: 5rem;
    }

    .main-container p {
        text-align: justify;
    }

    .container {
        width: 100%;
        background-color: antiquewhite;
    }


    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
    }

    .navigation ul li:not(:last-child) {
        border-bottom: none;
    }


    .main-container {
        padding: 0.75rem;
        width: 100%;
    }

    .main-container h1 {
        margin: 1rem auto;
    }
    .footer ul a {
        color: #3d3d3d;
        text-decoration: none;
    }
    .footer ul a {
        color: #3d3d3d;
        text-decoration: none;
    }

}


@media (min-width: 768px) {

    /*muuda image-container taustapilti*/
    /*muuda dokumendi taustavärvi*/
    /*muuda dokumendi tekstivärvi*/
    /*ära unusta ka raamjoonesid*/

    .image-container {
        clip-path: circle(50% at 50% 50%);
        background-image: url('../img/profile3.jpg');
        background-size: cover;
        background-position: center;
        height: 450px;
        width: 450px;
        margin: 2rem auto;
    }

    .main-container h1 {
        margin-bottom: 5rem;
        color: beige;
    }

    .main-container p {
        text-align: justify;
        color: beige;
    }

    .container {
        width: 100%;
        background-color: rgb(131, 121, 109);
    }

    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
        color: beige;
        border: 1px solid beige;
    }

    .header h1 {
        text-transform: uppercase;
        color: beige;
    }
    .footer ul a {
        color: beige;
        text-decoration: none;
    }


}


@media (min-width: 1024px) {

    /*muuda image-container taustapilti*/
    /*muuda dokumendi taustavärvi*/
    /*muuda dokumendi tekstivärvi*/
    /*ära unusta ka raamjoonesid*/

    .image-container {
        clip-path: circle(50% at 50% 50%);
        background-image: url('../img/profile4.jpg');
        background-size: cover;
        background-position: center;
        height: 450px;
        width: 450px;
        margin: 2rem auto;
    }

    .main-container h1 {
        margin-bottom: 5rem;
        color: beige;
    }

    .main-container p {
        text-align: justify;
        color: rgb(240, 240, 232);
    }

    .container {
        width: 100%;
        background-color: rgb(107, 95, 79);
    }

    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
        color: rgb(240, 240, 232);
        border: 1px solid beige;
    }

    .header h1 {
        text-transform: uppercase;
        color: rgb(240, 240, 232);
    }
    .footer ul a {
        color: rgb(240, 240, 232);
        text-decoration: none;
    }
}

@media (min-width: 1200px) {

    /*muuda image-container taustapilti*/
    /*muuda dokumendi taustavärvi*/
    /*muuda dokumendi tekstivärvi*/
    /*ära unusta ka raamjoonesid*/

    .image-container {
        clip-path: circle(50% at 50% 50%);
        background-image: url('../img/profile1.jpg');
        background-size: cover;
        background-position: center;
        height: 450px;
        width: 450px;
        margin: 2rem auto;
    }

    
    .main-container h1 {
        margin-bottom: 5rem;
        color: rgb(255, 255, 255);
    }

    .main-container p {
        text-align: justify;
        color: rgb(253, 253, 253);
    }

    .container {
        width: 100%;
        background-color: rgb(68, 55, 37);
    }

    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
        color: rgb(255, 255, 255);
        border: 1px solid rgb(255, 255, 255);
    }

    .header h1 {
        text-transform: uppercase;
        color: rgb(255, 255, 255);
    }
    .footer ul a {
        color: (255, 255, 255);
        text-decoration: none;
    }

   

}